<section class="users_page_container">
    <header>
        <nav *ngIf="router.url === '/users/list'" class="users_page_navigation">
            <img [routerLink]="['/home']" src="../../../assets/images/home.svg" alt="home">
            <a href="javascript:void(0);">
                <img src="../../../assets/images/Add-icon.png" alt="add">
                Add New Patient
            </a>
        </nav>
        <nav *ngIf="router.url === '/users/details' && currentUser" class="user_details_navigation">
            <span class="arrow_back" (click)="goBack()"><</span>
            <img src="../../../assets/images/Bust-{{ currentUser.gender }}-124x124.png" alt="">
            <span class="user_name">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
        </nav>
        <nav class="users_page_search">
            <input *ngIf="router.url === '/users/list'" type="text" placeholder="Search" name="search">
        </nav>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>
